AddDefaultCharset utf-8

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !(\.jpg|\.JPG|\.gif|\.GIF|\.jpeg|\.JPEG|\.png|\.PNG)$
RewriteRule ^(.*)$ index.php [L]

php_value auto_prepend_file "../sli/protected/sli.php"